.ds-product-demo__item {
    box-shadow: none;
    border: 1px solid $grey;

    .footer-buttons .btn-default {
        @extend .btn-outlined;

        border: 4px solid #230da0 !important;
        border-radius: 32px !important;
        margin: 0;
        margin-right: 0 !important;

        &:hover,
        &:active {
            background-color: #230da0;
            color: #ffffff !important;
        }

        @media only screen and (max-width: 768px) {
            border: 4px solid #230da0;
        }

    }

    .footer-buttons .btn-border {
        box-shadow: none !important;
        margin-left: 0 !important;
        padding-left: 5px !important;
        color: $coreBlue;
    }
}