.bottom-cta {
  padding: 40px 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  background-color: $foodLightest;
  background-image: url('https://directscalestring.directscale.com/Files/truvision/a426118f-f776-494e-9ead-cbd2eee6ff3d.svg');
  background-repeat: no-repeat;
  background-position: bottom left;

  .bottom-cta__content {
    padding-bottom: 10px;
  }

  .bottom-cta__header {
    @include margin-y-0;

    color: $coreBlue;
    font-size: 40px;
  }

  .bottom-cta__p {
    margin-top: 16px;
    margin-bottom: 24px;
    max-width: 450px;
  }

  img {
    margin: 30px 40px 0;
    max-width: 100%;
  }

  @media (min-width: 768px) {
    padding: 40px 40px 0;
  }
}