// Buttons
// .btn,
// .btn-truControl,
// .btn-supplements,
// .btn-drink,
// .btn-food,
// .btn-white,
// .btn-truControl-white,
// .btn-supplements-white,
// .btn-drink-white,
// .btn-food-white {
//   @include btn;
// }

// .btn,
// .btn-truControl,
// .btn-supplements,
// .btn-drink,
// .btn-food {
//   background-color: #fff;

//   &:hover {
//     color: #fff;
//   }
// }

// .btn {
//   color: $primaryColor !important;

//   border-color: $primaryColor !important;

//   &:hover {
//     background-color: $primaryColor !important;
//   }
// }

// .btn-truControl {
//   color: $truControl !important;

//   border-color: $truControl !important;

//   &:hover {
//     background-color: $truControl !important;
//   }
// }

// .btn-supplements {
//   color: $supplements !important;

//   border-color: $supplements !important;

//   &:hover {
//     background-color: $supplements !important;
//   }
// }

// .btn-drink {
//   color: $drink !important;

//   border-color: $drink !important;

//   &:hover {
//     background-color: $drink !important;
//   }
// }

// .btn-food {
//   color: $food !important;

//   border-color: $food !important;

//   &:hover {
//     background-color: $food !important;
//   }
// }

// .btn-white,
// .btn-truControl-white,
// .btn-supplements-white,
// .btn-drink-white,
// .btn-food-white {
//   border-color: white !important;

//   &:hover {
//     background-color: #fff !important;
//   }
// }

// .btn-white {
//   color: #fff !important;

//   &:hover {
//     color: $primaryColor !important;
//   }
// }

// .btn-truControl-white {
//   color: $truControl !important;
// }

// .btn-supplements-white {
//   color: $supplements !important;
// }

// .btn-drink-white {
//   color: $drink !important;
// }

// .btn-food-white {
//   color: $food !important;
// }
.btn-primary,
.btn-outlined,
.ds-product-demo__item .footer-buttons .btn-default,
.ds-summary-cart .bgm-color2,
#login .btn,
#CustomPages .btn,
.ds_checkout_container .btn:last-child(),
.complete-card .btn,
.ds-checkout .btn:last-child() {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 25px;
  border-radius: 28px;
  background-color: $white !important;
  color: $coreBlue !important;
  border: 3px solid $coreBlue;
  text-decoration: none;
  font-family: $sans;
  font-weight: 700;
  transition: background-color 0.2s, color 0.2s;
  box-shadow: none !important;

  &:hover {
    background-color: $coreBlue !important;
    color: $white !important;
  }
}

.btn-outlined-home-header {
  @extend .btn-outlined;

  border: 3px solid $drink;

  &:hover {
    background-color: $drink;
    color: $white;
  }
}