.cta-w-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .cta-w-pic__pills {
    display: none;
  }

  @media (min-width: $large) {
    .cta-w-pic__pills {
      z-index: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
    }
  }
}


.cta-w-pic__item {
  position: relative;
  display: grid;
  max-width: $maximum;
  background-color: $greyLightest;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 2fr);
    height: 490px;
  }
}

.cta-w-pic+.cta-w-pic {
  margin-top: $gap;
}

.cta-w-pic--flip {
  @media (min-width: 768px) {
    .cta-w-pic__image {
      order: 0;
    }

    .cta-w-pic__text {
      order: 1;
    }
  }
}

.cta-w-pic__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;

  @media (min-width: 768px) {
    padding: 80px;
  }
}

.cta-w-pic__heading {
  @extend .h4;
  @include margin-y-0;

  position: relative;
  color: $coreBlue;
  z-index: 1;
}

.cta-w-pic__subheading {
  @extend .h3;

  color: $truControl;
  position: relative;
  z-index: 1;
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 40px;
}

.cta-w-pic__replace {
  color: $supplements;
}

.cta-w-pic__p {
  position: relative;
  z-index: 1;

  margin-top: 16px;
  margin-bottom: 24px;
}

.cta-w-pic__image {
  overflow: hidden;

  img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}