.ds-summary-cart {
    .btn-default {
        color: $coreBlue !important;
        box-shadow: none !important;
        align-self: center;

        &:hover {
            text-decoration: underline;
        }
    }

    md-content {
        background-color: white !important;
    }
}

.ds_checkout_container {

    .btn-default {
        color: $coreBlue !important;
        box-shadow: none !important;
        align-self: center;

        &:hover {
            text-decoration: underline;
        }
    }

    md-card {
        box-shadow: none !important;
    }

    .ds_cart {
        box-shadow: none !important;
    }
}

.complete-card {
    box-shadow: none !important;
}

.ds-checkout {
    .btn-default {
        color: $coreBlue !important;
        box-shadow: none !important;
        align-self: center;

        &:hover {
            text-decoration: underline;
        }
    }

    md-card {
        box-shadow: none !important;
    }

    .bg-c-md-content {
        background-color: $white !important;
    }
}