// Footer
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
  padding: 80px 25px 30px;
  max-width: 100%;

  color: #fff;

  background-color: $primaryColor !important;

  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $maximum;
  }

  .footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer__logo {
    margin: 0 0 40px;
  }

  .footer__links {
    margin: 0;

    li {
      padding: 10px;
    }
  }

  .footer__icon {
    margin: 30px 0 10px;
    width: 50px;
    height: 50px;
  }

  @media (min-width: $large) {
    .footer__content {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 100%;
      width: $maximum;
    }

    .footer__menu {
      flex-direction: row;
      align-items: center;
      text-align: left;
    }

    .footer__logo {
      margin: 0 50px 0 0;
    }

    .footer__links {
      column-count: 2;
      column-gap: 50px;
      display: inline-block;

      li {
        // This makes sure the columns are top aligned
        -webkit-column-break-inside: avoid;
        column-break-inside: avoid;
      }
    }

    .footer__icon {
      margin: 0;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    transition: opacity 0.2s;

    &:hover {
      opacity: 0.5;
    }
  }


  ul {
    padding-left: 0;
    list-style-type: none;
  }

  .footer__social-links {
    @include margin-y-0;

    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;

    li {
      padding-right: $gap;
      padding-left: $gap;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;

      background-color: #fff;
      border-radius: 50%;

      transition: opacity 0.2s;

      &:hover {
        opacity: 0.5;
      }
    }

    svg {
      width: 16px;
    }
  }

  .footer__copyright {
    text-align: center;
    opacity: 0.35;

    p {
      margin-top: $gap;
      margin-bottom: $gap;
    }
  }
}