// Typography
// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

h1,
.h1 {
  font-size: 64px;
}

h2,
.h2 {
  font-size: 36px;
}

h3,
.h3 {
  font-size: 26px;
  text-transform: none;
}

h4,
.h4 {
  font-size: 16px;
  text-transform: uppercase;
}