// Header
.header-desktop {
  display: flex;
  align-items: center;
  padding: 16px 80px;

  background-color: #fff;
  border-bottom: 4px solid #d4c8fe;
}

.header__nav,
.header__util {
  margin-top: 0;
  margin-bottom: 10px;

  display: flex;
  padding-left: 0;

  list-style-type: none;

  button {
    text-transform: none !important;
  }

  li {
    margin-left: 64px;
  }
}

.header__nav {
  button {
    color: #2db57e !important;
  }
}

.header__util {
  margin-left: auto;

  md-icon {
    margin: 0 !important;
    color: #a986fc !important;
    fill: #a986fc !important;
  }

  button {
    display: inline-flex;
    color: #a986fc !important;
  }

  p {
    margin-bottom: 0 !important;
  }
}

.header__avatar {
  width: 40px;
}

.header__lang-select {
  display: flex;

  .md-text {
    display: flex !important;

    color: #000 !important;
    font-size: 14px !important;

    img {
      position: relative;
      bottom: -2px;

      margin-right: 10px;
    }
  }

  .md-select-icon {
    color: #000 !important;
  }
}

.mobile-nav-menu {
  .zmdi {
    color: #a986fc !important;
  }

  .shopping-cart-icon {
    margin-top: -6px;
    margin-left: 0;
  }

  .material-icons {
    color: #2DB57E !important;
  }

  .mobile-nav-logo {
    height: 24px;

    svg {
      height: 24px;
    }
  }
}

#header md-toolbar {
  background-color: white !important;
}