.home-people {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 25px;

  .home-people__leaves {
    display: none;
  }

  .home-people__content {
    width: 100%;
    max-width: $maximum;
  }

  .home-people__header {
    text-align: center;
    padding: 0 25px;
  }

  .home-people__slideshow {
    display: flex;
    justify-content: center;
  }

  .home-people__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-people__slide-image {
    border-top-right-radius: 40px;
    max-width: 100%;
  }

  .home-people__slide-text {
    h1 {
      @extend .h3;

      color: $truControl;
      position: relative;
      z-index: 1;
      margin-top: 14px;
      margin-bottom: 0;
      font-size: 40px;
    }
  }

  .home-people__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 90px;
    width: 100%;
  }

  .home-people__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 40px;
    color: $coreBlue;
    font-weight: 700;
    width: 130px;
    text-align: center;

    img {
      margin-bottom: 5px;
    }
  }

  @media (min-width: $large) {
    .home-people__slide {
      display: flex;
      flex-direction: row;
    }

    .home-people__slide-text {
      padding: 0 50px;
    }

    .home-people__leaves {
      display: block;
      position: absolute;
      right: 0;
      top: -50px;
    }
  }
}