.section-headings {
  padding: 40px 25px;
}

.section-heading {
  position: relative;
  text-align: center;
  margin: 0;
  font-family: $serif;
  font-size: 36px;
  font-weight: 400;
  color: $coreBlue;
}

.section-subheading {
  text-align: center;
  color: $coreBlue;
  max-width: 700px;
  padding-top: 20px;
}