// // Home hero

.home-hero {
  background-color: $coreBlue;
  display: flex;
  justify-content: center;
  position: relative;

  img {
    display: block;
  }

  .home-hero__pills {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .home-hero__blob {
    display: none;
  }

  @media (min-width: $large) {
    .home-hero__blob {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
  }
}

.home-hero__content {
  position: relative;
  max-width: $maximum;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 25px 0;

  .home-hero__text {
    padding: 25px;
  }

  .home-hero__heading {
    @include margin-y-0;

    font-family: $serif;
    color: $white;
    font-size: 56px;
    line-height: 60px;
    padding-bottom: 20px;
  }

  h2 {
    @include margin-y-0;

    font-family: $sans;
    font-weight: 400;
    color: $truFix;
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 10px;
  }

  .home-hero__image {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;

    img {
      max-width: calc(100% - 20px);

      border-top-left-radius: 200px;
      border: 10px solid $food;
      border-right: none;
      @media (min-width: $maximum) {
        border: 10px solid $food;
      }
    }

  }

  .home-hero__p {
    margin-bottom: 40px;
  }

  @media (min-width: $large) {
    flex-direction: row;
    padding: 75px 0;
    align-items: center;

    .home-hero__text {
      padding: 0 75px;
      width: 50%;
    }

    .home-hero__image {
      justify-content: flex-end;
    }
  }
}