.home-cta {
  padding: 40px;

  color: #fff;

  background-color: $truControl;
  background-image: url($background-shapes);
  background-position: right -45% center;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 220px;
    padding: 80px;
  }
}

.home-cta__heading,
.home-cta__p {
  @media (min-width: 768px) {
    width: 35%;
  }
}

.home-cta__heading {
  @include margin-y-0;

  color: #ffffff;
  text-align: left;
}

.home-cta__p {
  margin-top: 16px;
  margin-bottom: 24px;
}