// Style mixins
@mixin btn {
  display: inline-flex;
  align-items: center;
  height: 48px;
  padding-right: 24px;
  padding-left: 24px;

  font-weight: 700;
  text-decoration: none;
  text-transform: none !important;

  border-radius: 32px;
  border-width: 4px;
  border-style: solid;
  box-shadow: none !important;
}

// Utility mixins
@mixin margin-y-0 {
  margin-top: 0;
  margin-bottom: 0;
}