body {
  color: #000;

  font-family: $sans;
  background-color: #fff !important;
  margin: 0;
}

// Article sections
article {
  h2 {
    margin-top: 64px;
    margin-bottom: 32px;

    color: #000;
    text-align: center;
  }
}

#content {
  background-color: #fff !important;
}

#header .active-button {
  background-color: $supplementsLightest;
  border-bottom: 0;
}