.product {
    display: flex;
    flex-direction: column;
    align-items: center;

    .product-blob {
        position: absolute;
        top: 49px;
        right: 0;
    }

    img {
        border: none !important;
    }

    .crousel_image {
        width: unset !important;
    }

    .crousel_image img {
        max-width: 100%;
        width: 300px;
    }

    .product__section-heading {
        @include margin-y-0;

        font-family: $serif;
        font-weight: 400;
        color: $coreBlue;
        font-size: 40px;
        line-height: 70px;
        text-align: center;
        padding: 0 25px 30px;
    }

    .product__content {
        max-width: $maximum;
        position: relative;
    }

    .product__breadcrumbs {
        padding: 20px 25px 0;

        .ds-breadcrumb {
            background: none;
        }
    }

    .long-description {
        padding: 0 25px;
    }

    // Header

    .product__header {
        padding: 0 25px 40px;
    }

    .product__slideshow {
        display: flex;
        justify-content: center;
        align-items: center;

        .ds-product-detail__options__images {
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .ds-product-detail__options__images .thumbs {
            width: unset;
        }

        .crousel_thumb {
            padding: 10px 0 0;
        }
    }

    @media (min-width: $large) {
        .product__header {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 80px;
        }

        .product__slideshow {
            // width: 50%;
        }

        .product__info {
            // width: 50%;
        }
    }

    .product__product-recommend {
        font-style: $sans;
        font-weight: 700;
        text-align: left;
        font-size: 16px;
        color: $coreBlue;
        margin: 0;
        padding-top: 20px;

        @media (min-width: 768px) {
            font-size: 24px;
            padding-top: 0;
        }
    }

    .product__product-name {
        font-style: $sans;
        font-weight: 700;
        text-align: left;
        color: $drinkLight;
        margin: 0;

        font-size: 36px;

        @media (min-width: 768px) {
            font-size: 56px;
        }
    }


    .product__product-body {
        max-width: 400px;
    }

    .product__product-price {
        padding-bottom: 20px;
        font-weight: 700;
    }

    // Icons
    .product__icons {
        padding-bottom: 80px;
        display: flex;
        align-items: flex-start;
        text-align: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        font-weight: 700;
        color: $coreBlue;

    }

    .product__icon {
        width: 200px;
        padding: 20px 0;

        img {
            height: 50px;
            width: auto;
            margin-bottom: 10px;
        }
    }

    // Chemistry
    .product__chemistry {
        padding-bottom: 80px;
    }

    .product__chemistry-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-gap: 20px;
        padding: 0;
    }

    .product__chemistry-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: $greyLightest;
        padding: 25px 50px;

        h2 {
            margin-top: 0;
            color: $coreBlue;
            font-size: 16px;
        }
    }

    .product__ingredient {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 210px;
        border: 1px solid #eee;
        color: $coreBlue;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;

        background-repeat: no-repeat;
        background-size: auto 100%;

        &.--right {
            background-position-x: right;
        }
    }

    @media (min-width: $large) {
        .product__chemistry-content {
            grid-template-columns: 1fr 1fr;
        }
    }

    // Questions
    .product__questions {
        padding-bottom: 80px;
    }

    .product__questions-content {
        max-width: $maximum;
    }

    .product__qa {
        padding-bottom: 30px;

        &:last-child {
            padding-bottom: 0;
        }
    }

    .product__answers {
        background-color: #979cff;
        color: $white;
        padding: 50px;
        position: relative;

        h2 {
            color: $coreBlue;
            margin: 0;
            font-size: 24px;
        }
    }

    @media (min-width: $large) {
        .product__answers {
            margin-right: 50px;
            padding: 50px 200px 50px;
            border-top-right-radius: 200px;
        }
    }

    // Testimonials
    .product__testimonials {
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .product__testimonials-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 660px;
            text-align: center;
        }

        iframe {
            max-width: 100%;
        }

        h2 {
            padding: 30px 25px 0;
            margin: 0;
            font-size: 33px;
            font-weight: 400;
            color: $drinkLight;
        }

        p {
            padding-top: 20px;
            margin: 0;
            color: $drinkLight;
        }
    }

    .product__related {
        padding: 0 0 100px;

        .product__related-products {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (min-width: $large) {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
            }
        }


        .product__related-product {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;
            max-width: 100%;
            text-align: center;
            padding: 0 10px 30px;

            @media (min-width: $large) {
                padding-bottom: 0;
            }

            img {
                width: 300px;
                height: auto;
                max-width: 100%;
            }

            h3 {
                padding-top: 36px;
                margin: 0;
                color: $coreBlue;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 16px;
            }

            h2 {
                padding-top: 12px;
                margin: 0;
                color: $truControl;
            }

            &:nth-child(2) {
                h2 {
                    color: $supplements;
                }
            }

            &:nth-child(3) {
                h2 {
                    color: $drinkLight;
                }
            }
        }
    }
}