.quotes {
  display: grid;
  grid-gap: $gap;

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.quote-truControl,
.quote-supplements,
.quote-drink,
.quote-food {
  padding: 40px 24px;

  text-align: center;

  @media (min-width: 768px) {
    padding: 80px 32px;
  }

  header {
    text-transform: uppercase;
    font-weight: 700;
  }
}

.quote-truControl {
  color: $truControl;
  background-color: $truControlLightest;
}

.quote-supplements {
  color: $supplements;
  background-color: $supplementsLightest;
}

.quote-drink {
  color: $drink;
  background-color: $drinkLightest;
}

.quote-food {
  color: $food;
  background-color: $foodLightest;
}