.ds-summary-cart md-toolbar md-list {
  padding-bottom: 16px;

  border-bottom: 4px solid $coreBlue;
}

.ds-summary-cart md-toolbar md-list md-list-item .md-list-item-text h3 {
  color: #000;
  font-weight: 700 !important;
}

.ds-summary-cart md-content md-list-item.items {
  padding-left: 20px;
}

md-list-item.items.total.md-no-proxy.ng-scope._md.flex {
  padding-top: 10px;

  border-top: 4px solid $coreBlue;
}

.ds-summary-cart md-content .list-item-head md-list-item .md-list-item-text h3, .ds-summary-cart md-content md-list-item.items .md-list-item-text h3 {
  color: #2db57e;
}

.ds-summary-cart md-content md-list-item.items md-divider {
  left: auto;
  bottom: auto;

  width: auto;
}

md-toolbar~md-content>md-list {
  background-color: #fff;
}

.ds-summary-cart md-content {
  background-color: $coreBlueLight;
}