<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div ng-controller="ProductDetailsCtrlNew" class="bg-white" id="product-details">
        <main class="product">
            <div class="product__content">
                <div class="product__breadcrumbs">
                    <ds-breadcrumb ng-if="item" cart-type="itemType" current="item.ItemName"></ds-breadcrumb>
                </div>
                <div class="product__header">
                    <div class="product__slideshow">
                        <!-- <img src="https://www.fillmurray.com/g/600/500" alt=""> -->
                        <div class="thumbs crousel_thumb">
                            <div id="thumbcarousel" class="carousel slide" data-interval="false" data-wrap="false">
                                <button class="left carousel-control" href="#thumbcarousel" role="button"
                                    data-slide="prev">
                                    <span class="zmdi zmdi-chevron-up"></span>
                                    <span class="zmdi zmdi-chevron-left"></span>
                                </button>
                                <div class="carousel-inner vertical">
                                    <div class="item" ng-class="{'active':key =='0'}"
                                        ng-repeat="(key,image) in thumbcarouselImages">
                                        <div data-target="#carousel" data-slide-to="{{$index*key}}" class="thumb"
                                            ng-repeat="item in image track by $index"
                                            ng-click="activeImage=item;setActiveImage(item)">
                                            <img ng-src="{{item.Path|| 'assets/img/images_coming_soon.png'}}"
                                                onerror="this.src='assets/img/images_coming_soon.png'">
                                        </div>
                                    </div>
                                </div>
                                <!-- /carousel-inner -->
                                <button class="right carousel-control" href="#thumbcarousel" role="button"
                                    data-slide="next">
                                    <span class="zmdi zmdi-chevron-down"></span>
                                    <span class="zmdi zmdi-chevron-right"></span>
                                </button>
                            </div>
                            <!-- /thumbcarousel -->
                        </div>
                        <div class="image crousel_image">
                            <img ng-if="!isMobile()" class="img-width-height" id="zpimage" ez-plus ezp-model="ezpModel"
                                ezp-options=" {zoomWindowHeight: 522, zoomWindowWidth: 300, borderSize: 1}"
                                ng-src="{{(activeImage.Path || (item.Images.length ? item.Images[0] : defaultImage).Path) || 'assets/img/images_coming_soon.png'}}"
                                style="border:solid 1px #d3d3d3;"
                                onerror="this.src='assets/img/images_coming_soon.png'" />
                            <img ng-if="isMobile()" class="img-width-height"
                                ng-src="{{(activeImage.Path || (item.Images.length ? item.Images[0] : defaultImage).Path) || 'assets/img/images_coming_soon.png'}}"
                                style="border:solid 1px #d3d3d3;"
                                onerror="this.src='assets/img/images_coming_soon.png'" />
                            <div class="share_box" ng-if="isShow['socialShare']">
                                <span class="c-darkgray" translate="share_this"></span>
                                <i ng-if="isShowShareOptions" ng-repeat="item in providerList" socialshare
                                    socialshare-provider="{{item.proiverName}}"
                                    socialshare-url="{{metaDataService.metadata.url}}"
                                    socialshare-media="{{metaDataService.metadata.image}}" class="icon"
                                    ng-class="item.icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product__info">
                        <h2 class="product__product-recommend">
                            What we Recommend
                        </h2>
                        <h1 class="product__product-name">
                            <!-- Tru -->
                            <span ng-bind="item.ItemName"></span>
                        </h1>
                        <p class="product__product-body">
                            <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea
                            commodo consequat. Duis
                            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint
                            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum. -->
                            <span ng-bind-html="item.ShortDescription |unsafe"></span>
                        </p>
                        <!-- <p class="product__product-price">
                            $100
                        </p> -->
                        <div class="price-column">
                            <div class="price"
                                ng-bind="getPrice(item, $root.OrderQuantityCount) | currency:commonSetting.commonData.CurrencySymbol[0].symbol">
                            </div>
                            <span ng-if="item.AllowAutoship && (item.Price - item.AutoshipPrice > 0)" translate
                                translate-values="{ value: (item.Price - item.AutoshipPrice | currency:commonSetting.commonData.CurrencySymbol[0].symbol)}">subscribe_autoship</span>
                        </div>
                        <a class="btn-outlined" href="#">Add to Cart</a>
                    </div>
                </div>
                <section class="product__icons">
                    <div class="product__icon">
                        <img src="https://www.fillmurray.com/g/70/70" alt="">
                        <p>Energy</p>
                    </div>
                    <div class="product__icon">
                        <img src="https://www.fillmurray.com/g/70/70" alt="">
                        <p>Energy</p>
                    </div>
                    <div class="product__icon">
                        <img src="https://www.fillmurray.com/g/70/70" alt="">
                        <p>Transformation you can see</p>
                    </div>
                    <div class="product__icon">
                        <img src="https://www.fillmurray.com/g/70/70" alt="">
                        <p>Energy</p>
                    </div>
                </section>

                <section class="product__chemistry">
                    <h1 class="product__section-heading">
                        How Tru Supports Blood Chemistry:
                    </h1>
                    <div class="product__chemistry-content">
                        <div class="product__chemistry-body">
                            <!-- <h2>Alpha Lipoic Acid:</h2>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea
                            commodo consequat. Duis -->
                            <div ng-if="item.LongDescription" ng-bind-html="item.LongDescription | unsafe"></div>
                        </div>
                        <div class="product__ingredient"
                            style="background-image: url('https://www.fillmurray.com/g/250/350');">
                            Chlorogenic acid
                        </div>
                        <div class="product__ingredient --right"
                            style="background-image: url('https://www.fillmurray.com/g/250/250');">
                            Chlorogenic acid
                        </div>
                        <div class="product__ingredient"
                            style="background-image: url('https://www.fillmurray.com/g/250/250');">
                            Chlorogenic acid
                        </div>
                        <div class="product__ingredient --right"
                            style="background-image: url('https://www.fillmurray.com/g/250/250');">
                            Chlorogenic acid
                        </div>
                        <div class="product__ingredient"
                            style="background-image: url('https://www.fillmurray.com/g/250/250');">1
                            Chlorogenic acid
                        </div>
                    </div>
                </section>


                <section class="product__questions">
                    <h1 class="product__section-heading">Have Questions? We've Got Answers!</h1>

                    <div class="product__answers">
                        <h2>When Should I take TruFIX</h2>
                        <p>We suggest taking it along with truControl every morning.</p>
                        <h2>When Should I take TruFIX</h2>
                        <p>We suggest taking it along with truControl every morning.</p>
                        <h2>When Should I take TruFIX</h2>
                        <p>We suggest taking it along with truControl every morning.</p>
                    </div>
                </section>


                <section class="product__testimonials">
                    <h1 class="product__section-heading">You don't have to take our word for it.</h1>
                    Slideshow: To do
                </section>

                <div id="relatedProducts">
                    <h5 class="products_title m-l-10 m-t-30" translate="RELATED PRODUCTS"
                        ng-if="relatedProducts.length>0"></h5>
                    <div class="grid related_product"
                        data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 160 }'>
                        <div class="grid-item" ng-repeat="item in relatedProducts|limitTo:3"
                            ng-click="setRelatedProduct(item, type == 'Autoship', null, type == 'Packs');">
                            <img ng-src="{{item.LargeImageUrl || 'assets/img/images_coming_soon.png'}}"
                                onerror="this.src='assets/img/images_coming_soon.png'" height="150" width="150">
                            <p class="product_name"
                                ng-bind="(item.ItemName|limitTo:25)+(item.ItemName.length >25? '...':'')"></p>
                            <div class="price-column">
                                <div class="price price_bottom"
                                    ng-bind="item.Price | currency:commonSetting.commonData.CurrencySymbol[0].symbol">
                                </div>
                                <!-- <div class="strike-price strike-price_bottom" ng-bind="getPrice(item, $root.OrderQuantityCount) | currency:commonSetting.commonData.CurrencySymbol[0].symbol"></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="spinner" ng-class="{'spinner--active': loading}"></div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>