<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body> -->
<div ng-controller="ProductDetailsCtrlNew" class="bg-white" id="product-details">
    <main class="product">
        <div class="product-blob">
            <img width="300px"
                src="https://directscalestring.directscale.com/Files/truvision/cecbe5f3-4627-4321-89d2-f5349e516fcf.svg"
                alt="">
        </div>
        <div class="product__content">

            <div class="product__breadcrumbs">
                <ds-breadcrumb ng-if="item" cart-type="itemType" current="item.ItemName"></ds-breadcrumb>
            </div>
            <section class="product__header">
                <div class="product__slideshow">
                    <div class="ds-product-detail__options__images">
                        <div class="image crousel_image">
                            <img ng-if="!isMobile()" class="img-width-height" id="zpimage" ez-plus ezp-model="ezpModel"
                                ezp-options=" {zoomWindowHeight: 522, zoomWindowWidth: 300, borderSize: 1}"
                                ng-src="{{(activeImage.Path || (item.Images.length ? item.Images[0] : defaultImage).Path) || 'assets/img/images_coming_soon.png'}}"
                                style="border:solid 1px #d3d3d3;"
                                onerror="this.src='assets/img/images_coming_soon.png'" />
                            <img ng-if="isMobile()" class="img-width-height"
                                ng-src="{{(activeImage.Path || (item.Images.length ? item.Images[0] : defaultImage).Path) || 'assets/img/images_coming_soon.png'}}"
                                style="border:solid 1px #d3d3d3;"
                                onerror="this.src='assets/img/images_coming_soon.png'" />
                            <div class="share_box" ng-if="isShow['socialShare']">
                                <span class="c-darkgray" translate="share_this"></span>
                                <i ng-if="isShowShareOptions" ng-repeat="item in providerList" socialshare
                                    socialshare-provider="{{item.proiverName}}"
                                    socialshare-url="{{metaDataService.metadata.url}}"
                                    socialshare-media="{{metaDataService.metadata.image}}" class="icon"
                                    ng-class="item.icon"></i>
                                <!-- <i ng-if="isShowShareOptions" socialshare socialshare-provider="twitter" socialshare-text="{{metaDataService.metadata.title}}" socialshare-hashtags="{{metaDataService.metadata.title}}" socialshare-url="{{metaDataService.metadata.url}}" class="icon zmdi zmdi-twitter"></i>
                                                    <i ng-if="isShowShareOptions" socialshare socialshare-provider="pinterest" socialshare-text="{{metaDataService.metadata.title}}" socialshare-url="{{metaDataService.metadata.url}}" class="icon zmdi zmdi-pinterest-box"></i> -->
                                <!-- <i ng-if="isShowShareOptions" socialshare socialshare-provider="email" socialshare-to="" socialshare-body="{{metaDataService.metadata.title}}" class="icon zmdi zmdi-email"></i> -->
                                <!-- <div class="fb-share-button" data-href="https://localhost:29040/#!/samspace/ProductDetails/27?cartType=order" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://localhost:29040/#!/samspace/ProductDetails/27?cartType=order" class="fb-xfbml-parse-ignore">Share</a></div> -->
                            </div>
                        </div>
                        <div class="thumbs crousel_thumb">
                            <div id="thumbcarousel" class="carousel slide" data-interval="false" data-wrap="false">
                                <!-- <button class="left carousel-control" href="#thumbcarousel" role="button"
                                    data-slide="prev">
                                    <span class="zmdi zmdi-chevron-up"></span>
                                    <span class="zmdi zmdi-chevron-left"></span>
                                </button> -->
                                <div class="carousel-inner vertical">
                                    <div class="item" ng-class="{'active':key =='0'}"
                                        ng-repeat="(key,image) in thumbcarouselImages">
                                        <div data-target="#carousel" data-slide-to="{{$index*key}}" class="thumb"
                                            ng-repeat="item in image track by $index"
                                            ng-click="activeImage=item;setActiveImage(item)">
                                            <img ng-src="{{item.Path|| 'assets/img/images_coming_soon.png'}}"
                                                onerror="this.src='assets/img/images_coming_soon.png'">
                                        </div>
                                    </div>
                                </div>
                                <!-- /carousel-inner -->
                                <!-- <button class="right carousel-control" href="#thumbcarousel" role="button"
                                    data-slide="next">
                                    <span class="zmdi zmdi-chevron-down"></span>
                                    <span class="zmdi zmdi-chevron-right"></span>
                                </button> -->
                            </div>
                            <!-- /thumbcarousel -->
                        </div>
                    </div>
                </div>
                <div class="product__info">
                    <h2 class="product__product-recommend">
                        What we Recommend
                    </h2>
                    <h1 class="product__product-name">
                        <span ng-bind="item.ItemName"></span>
                    </h1>
                    <p class="product__product-body">
                        <span ng-bind-html="item.ShortDescription |unsafe"></span>
                    </p>
                    <div class="product__product-price "
                        ng-bind="getPrice(item, $root.OrderQuantityCount) | currency:commonSetting.commonData.CurrencySymbol[0].symbol">
                    </div>
                    <button class="btn-outlined" id="add-to-cart-detail-btn"
                        ng-disabled="(!isOptionsSelected && item.ItemOptions.length>0 )" ng-click="addToCart(itemType)"
                        translate="add_cart">
                    </button>
                </div>
            </section>
            <div ng-if="item.LongDescription" ng-bind-html="item.LongDescription | unsafe" class="long-description">
            </div>

            <section class="product__related">
                <div id="relatedProducts">
                    <h5 class="product__section-heading" translate="RELATED PRODUCTS" ng-if="relatedProducts.length>0">
                    </h5>
                    <div class="product__related-products"
                        data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 160 }'>
                        <div class="product__related-product" ng-repeat="item in relatedProducts|limitTo:3"
                            ng-click="setRelatedProduct(item, type == 'Autoship', null, type == 'Packs');">
                            <img ng-src="{{item.LargeImageUrl || 'assets/img/images_coming_soon.png'}}"
                                onerror="this.src='assets/img/images_coming_soon.png'" height="150" width="150">
                            <p class="product_name"
                                ng-bind="(item.ItemName|limitTo:25)+(item.ItemName.length >25? '...':'')"></p>
                            <div class="price-column">
                                <div class="price price_bottom"
                                    ng-bind="item.Price | currency:commonSetting.commonData.CurrencySymbol[0].symbol">
                                </div>
                                <!-- <div class="strike-price strike-price_bottom" ng-bind="getPrice(item, $root.OrderQuantityCount) | currency:commonSetting.commonData.CurrencySymbol[0].symbol"></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="spinner" ng-class="{'spinner--active': loading}"></div>
                </div>
            </section>
        </div>
    </main>

    <script>
        var checkitem = function () {
            var $this;
            $this = $("#thumbcarousel");
            if ($("#thumbcarousel .carousel-inner .item:first").hasClass("active")) {
                $this.children(".left").hide();
                $this.children(".right").show();
            } else if ($("#thumbcarousel .carousel-inner .item:last").hasClass("active")) {
                $this.children(".right").hide();
                $this.children(".left").show();
            } else {
                $this.children(".carousel-control").show();
            }
        };
        checkitem();
        $("#thumbcarousel").on("slid.bs.carousel", "", checkitem);
    </script>
</div>
<!-- </body>

</html> -->