<!--
 **********************IMPORTANT*******************************
Please replace ng-controller value with your new controller name
     so that it will not conflict with old controller.
-->

<div ng-controller="ProductDetailsCtrlNew" class="bg-white" id="product-details">
    <ds-breadcrumb ng-if="item" cart-type="itemType" current="item.ItemName"></ds-breadcrumb>
    <div class="ds-product-detail">
        <div class="ds-product-detail__body">
            <div class="ds-product-detail__options">
                <div class="ds-product-detail__options__images">
                    <div class="thumbs crousel_thumb">
                        <div id="thumbcarousel" class="carousel slide" data-interval="false" data-wrap="false">
                            <button class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                                <span class="zmdi zmdi-chevron-up"></span>
                                <span class="zmdi zmdi-chevron-left"></span>
                            </button>
                            <div class="carousel-inner vertical">
                                <div class="item" ng-class="{'active':key =='0'}"
                                    ng-repeat="(key,image) in thumbcarouselImages">
                                    <div data-target="#carousel" data-slide-to="{{$index*key}}" class="thumb"
                                        ng-repeat="item in image track by $index"
                                        ng-click="activeImage=item;setActiveImage(item)">
                                        <img ng-src="{{item.Path|| 'assets/img/images_coming_soon.png'}}"
                                            onerror="this.src='assets/img/images_coming_soon.png'">
                                    </div>
                                </div>
                            </div>
                            <!-- /carousel-inner -->
                            <button class="right carousel-control" href="#thumbcarousel" role="button"
                                data-slide="next">
                                <span class="zmdi zmdi-chevron-down"></span>
                                <span class="zmdi zmdi-chevron-right"></span>
                            </button>
                        </div>
                        <!-- /thumbcarousel -->
                    </div>
                    <div class="image crousel_image">
                        <img ng-if="!isMobile()" class="img-width-height" id="zpimage" ez-plus ezp-model="ezpModel"
                            ezp-options=" {zoomWindowHeight: 522, zoomWindowWidth: 300, borderSize: 1}"
                            ng-src="{{(activeImage.Path || (item.Images.length ? item.Images[0] : defaultImage).Path) || 'assets/img/images_coming_soon.png'}}"
                            style="border:solid 1px #d3d3d3;" onerror="this.src='assets/img/images_coming_soon.png'" />
                        <img ng-if="isMobile()" class="img-width-height"
                            ng-src="{{(activeImage.Path || (item.Images.length ? item.Images[0] : defaultImage).Path) || 'assets/img/images_coming_soon.png'}}"
                            style="border:solid 1px #d3d3d3;" onerror="this.src='assets/img/images_coming_soon.png'" />
                        <div class="share_box" ng-if="isShow['socialShare']">
                            <span class="c-darkgray" translate="share_this"></span>
                            <i ng-if="isShowShareOptions" ng-repeat="item in providerList" socialshare
                                socialshare-provider="{{item.proiverName}}"
                                socialshare-url="{{metaDataService.metadata.url}}"
                                socialshare-media="{{metaDataService.metadata.image}}" class="icon"
                                ng-class="item.icon"></i>
                            <!-- <i ng-if="isShowShareOptions" socialshare socialshare-provider="twitter" socialshare-text="{{metaDataService.metadata.title}}" socialshare-hashtags="{{metaDataService.metadata.title}}" socialshare-url="{{metaDataService.metadata.url}}" class="icon zmdi zmdi-twitter"></i>
                            <i ng-if="isShowShareOptions" socialshare socialshare-provider="pinterest" socialshare-text="{{metaDataService.metadata.title}}" socialshare-url="{{metaDataService.metadata.url}}" class="icon zmdi zmdi-pinterest-box"></i> -->
                            <!-- <i ng-if="isShowShareOptions" socialshare socialshare-provider="email" socialshare-to="" socialshare-body="{{metaDataService.metadata.title}}" class="icon zmdi zmdi-email"></i> -->
                            <!-- <div class="fb-share-button" data-href="https://localhost:29040/#!/samspace/ProductDetails/27?cartType=order" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://localhost:29040/#!/samspace/ProductDetails/27?cartType=order" class="fb-xfbml-parse-ignore">Share</a></div> -->
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="ds-product-detail__options__option">
                    <div class="product-title">
                        <span ng-bind="item.ItemName"></span>
                    </div>
                    <div class="product_detail_qv">
                        <span ng-bind-html="item.ShortDescription |unsafe"></span>
                    </div>
                    <div class="price-column">
                        <div class="price"
                            ng-bind="getPrice(item, $root.OrderQuantityCount) | currency:commonSetting.commonData.CurrencySymbol[0].symbol">
                        </div>
                        <span ng-if="item.AllowAutoship && (item.Price - item.AutoshipPrice > 0)" translate
                            translate-values="{ value: (item.Price - item.AutoshipPrice | currency:commonSetting.commonData.CurrencySymbol[0].symbol)}">subscribe_autoship</span>
                    </div>
                    <div class="price-column" ng-if="commonSetting.isShowGlobal['isAllowBusinessVolume']">
                        <p> {{'global_pv'|translate}}<span> : {{$root.OrderQuantityCount * (item.BusinessVolume ||
                                item.PV || 0)}}</span></p>
                    </div>
                    <!-- <p>Only 5 left in stock</p> -->
                    <md-input-container ng-if="itemType!='pack'" style="display: block"
                        ng-repeat="option in item.ItemOptions" md-no-float id="option_{{option.Option}}">
                        <p ng-bind="option.Option" class="m-0"></p>
                        <md-select readonly="true" ng-model="value[$index].Option" name="value[$index].Option"
                            placeholder="Select {{option.Option}}" aria-label="validatevalue"
                            md-on-open="openSelect($event)" ng-click="openSelect($event)"
                            class="md-no-underline-select">
                            <md-option ng-repeat="value in getValidValues(item, option, option.Values)"
                                ng-init="setInitialItemOption(option, value)" ng-value="value.Option"
                                ng-click="value.isAvailable && selectOption(item, option, value, false)"
                                ng-selected="checkOptions(item.ItemOptions);" ng-disabled="!value.isAvailable">
                                {{value.Option}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <!-- Quantity stepper -->
                    <div class="options-quantity" ng-if="itemType!='pack'">
                        <div class="option-label" translate="global_quantity"></div>
                        <div class="option-quantity" layout="row" layout-align="start center">
                            <button data-input-stepper-decrease ng-click="DecreaseQuantity()">
                                <span class="zmdi zmdi-minus"></span>
                            </button>
                            <input type="text" ng-model="$root.OrderQuantityCount" maxlength="2"
                                ng-disabled="cartsService.isIncreaseQuantityDisabled(item,itemType === 'autoship') || cartsService.isIncreaseQuantityDisabledQTY(item,itemType === 'autoship',$root.OrderQuantityCount)"
                                validate inputonlynumber="true"
                                ng-keyup="($event.which === 38) ? IncreaseQuantity() : 0"
                                ng-keydown="($event.which === 40) ? DecreaseQuantity() : 0">
                            <button data-input-stepper-increase class="quantity_disable"
                                ng-class="{'disabled': cartsService.isIncreaseQuantityDisabled(item,itemType === 'autoship') || cartsService.isIncreaseQuantityDisabledQTY(item,itemType === 'autoship',$root.OrderQuantityCount)}"
                                ng-attr-uib-tooltip="{{(cartsService.isAddToCartDisabled(item,itemType === 'autoship') && cartsService.addToCartDisabledTooltip(item,itemType === 'autoship')) || (cartsService.isAddToCartDisabledQTY(item,itemType === 'autoship',$root.OrderQuantityCount, true) && cartsService.addToCartDisabledQTYTooltip(item,itemType === 'autoship')) || undefined}}"
                                ng-click="(cartsService.isIncreaseQuantityDisabled(item,itemType === 'autoship') || cartsService.isIncreaseQuantityDisabledQTY(item,itemType === 'autoship',$root.OrderQuantityCount))?'':IncreaseQuantity()">
                                <span class="zmdi zmdi-plus"></span>
                            </button>
                        </div>
                    </div>

                    <div class="cart-buttons" layout="row" layout-align="start center" layout-xs="column">
                        <button class="btn bgm-color2 btn-lg m-t-20 cart-buttons-layout" id="add-to-cart-detail-btn"
                            ng-disabled="(!isOptionsSelected && item.ItemOptions.length>0 )"
                            ng-click="addToCart(itemType)" translate="add_cart">
                        </button>
                        <button id="autoship-cart-detail-btn" ng-if="item.AllowAutoship"
                            class="btn btn-default m-t-20 btn-lg m-r-15 text-uppercase cart-buttons-layout"
                            ng-disabled="(!isOptionsSelected && item.ItemOptions.length>0 )"
                            ng-click="addToCart('autoship');isShow['updateOrderwithautoship']?addToCart(itemType):'';"
                            translate="autoship">
                        </button>
                    </div>


                    <div id="accordion">
                        <div class="m-t-20" style="border-top:solid 2px #d3d3d3;border-bottom:solid 2px #d3d3d3">
                            <div id="headingOne">
                                <h5>
                                    <button class="btn btn-link collapsed" ng-init="productcheckbox[1]=false;"
                                        ng-click="productcheckbox[1]=!productcheckbox[1];" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="glyphicon glyphicon-plus" ng-show="!productcheckbox[1]"></span>
                                        <span class="glyphicon glyphicon-minus" ng-show="productcheckbox[1]"></span>
                                        <span ng-class="{'c-color2': productcheckbox[1], }"
                                            translate="product_details"></span>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div ng-if="item.LongDescription" ng-bind-html="item.LongDescription | unsafe">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="item.AllowAutoship" style="border-bottom:solid 2px #d3d3d3">
                            <div id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" ng-init="productcheckbox[2]=false;"
                                        ng-click="productcheckbox[2]=!productcheckbox[2]" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span class="glyphicon glyphicon-plus" ng-show="!productcheckbox[2]"></span>
                                        <span class="glyphicon glyphicon-minus" ng-show="productcheckbox[2]"></span>
                                        <span ng-class="{'c-color2': productcheckbox[2]}" translate="autoship_"></span>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div ng-bind-html="'autoship_description'| translate | unsafe"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="m-t-10">*These statements have not been evluated by the food and Drug Administration. This prouct is not intended
                        diagnose, treat, cure or prevent any disease.</div> -->
                </div>
            </div>
            <div class="nav_tabs">
                <h5 ng-show="isShow['instaFeeds'] && instaFeeds" class="products_title m-l-10" translate="on_insta">
                </h5>
                <div ng-show="isShow['instaFeeds'] && instaFeeds" class="grid instagram-carousel" layout="row"
                    layout-align="start center">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" layout="row"
                        layout-align="start center">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" layout="row" layout-align="start center">
                            <div class="item" layout="row" layout-align="start center" ng-class="{'active':key =='0'}"
                                ng-repeat="(key,image) in instaFeeds">
                                <div class="grid-item" ng-repeat="item in image track by $index">
                                    <a href="{{item.link}}" target="_blank">
                                        <img ng-src="{{item.images.low_resolution.url || 'assets/img/images_coming_soon.png'}}"
                                            onerror="this.src='assets/img/images_coming_soon.png'">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <button class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="zmdi zmdi-chevron-left"></span>
                        </button>
                        <button class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="zmdi zmdi-chevron-right"></span>
                        </button>
                    </div>
                    <script>
                        var item = $('grid-item');
                        if (item.length > 0) {
                            $('#myCarousel').carousel();
                        }
                    </script>
                </div>
                <div id="relatedProducts">
                    <h5 class="products_title m-l-10 m-t-30" translate="RELATED PRODUCTS"
                        ng-if="relatedProducts.length>0"></h5>
                    <div class="grid related_product"
                        data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 160 }'>
                        <div class="grid-item" ng-repeat="item in relatedProducts|limitTo:3"
                            ng-click="setRelatedProduct(item, type == 'Autoship', null, type == 'Packs');">
                            <img ng-src="{{item.LargeImageUrl || 'assets/img/images_coming_soon.png'}}"
                                onerror="this.src='assets/img/images_coming_soon.png'" height="150" width="150">
                            <p class="product_name"
                                ng-bind="(item.ItemName|limitTo:25)+(item.ItemName.length >25? '...':'')"></p>
                            <div class="price-column">
                                <div class="price price_bottom"
                                    ng-bind="item.Price | currency:commonSetting.commonData.CurrencySymbol[0].symbol">
                                </div>
                                <!-- <div class="strike-price strike-price_bottom" ng-bind="getPrice(item, $root.OrderQuantityCount) | currency:commonSetting.commonData.CurrencySymbol[0].symbol"></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="spinner" ng-class="{'spinner--active': loading}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var checkitem = function () {
        var $this;
        $this = $("#thumbcarousel");
        if ($("#thumbcarousel .carousel-inner .item:first").hasClass("active")) {
            $this.children(".left").hide();
            $this.children(".right").show();
        } else if ($("#thumbcarousel .carousel-inner .item:last").hasClass("active")) {
            $this.children(".right").hide();
            $this.children(".left").show();
        } else {
            $this.children(".carousel-control").show();
        }
    };
    checkitem();
    $("#thumbcarousel").on("slid.bs.carousel", "", checkitem);
</script>